    #header {
        height:55px;
        background-color:#0a304e;
    }
    
    #footer{
        background-color:#0a304e;
        color: #ccc;
    }
    
     #footer h3 {
        color:white;
     }
    
    textarea#feedback {
        background-color: #ccc;
        color:black;
    }
    
    body, .button {
        font-family:"Titillium Web", "TitilliumMaps26L","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        /*font-size:14px;*/
        /*line-height:125%;*/
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family:"Titillium Web", "TitilliumMaps26L","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        text-height:text-size;
    }
    
    #announcements {
        margin-top:15px;
        /*background-color:#e9e9e9;*/
        height:auto;
        border-left:#e9e9e9 solid;
    }
    
    #wearessc {
        /*background-color:#e9e9e9;
        margin-top:10px;*/
    }
    
    .smalltext {
        font-size:14px;
        line-height:14px;
        color: #ccc;
    }
    
    .floatingyeti {
        min-width:100%;
        position: absolute;
        top: -450px; 
    }
    
    .announcebox p {
        /*line-height:100%;*/
    }
    
    /*Old navigation box...*/
    .navLink, .navLinks {
        list-style-type: none;
    }
    
    .navLinks ul li {
        display: inline;
    }
    
    .navLinks a {
        padding:20px;
        /*margin:10px;*/
        border:grey;
        color:white;
        line-height:55px;
    }
    
    .navLinks a:focus, .navLinks a:hover  {
        background-color:#11568F;
    }
    /*end Old navigation box*/
    
    
    /*******Things to overwrite the top-bar styles...*******/
    .top-bar, .title-area .name {
        height:55px;
    }
    
    .title-area ul li, .title-area .name h1 a {
        padding-right:0px;
        margin-right:0px;
    }
    
    .top-bar, .top-bar h1, .top-bar-section ul li a, .toggle-topbar, .toggle-topbar.menu-icon a, .contain-to-grid, .title-area {
        background-color:#0a304e !important;
        font-family: inherit !important;
        text-height:55px !important;
        font-size: inherit !important;
    }
    
    
    @media only screen and (min-width:40em) {
        .top-bar, .top-bar h1, .top-bar-section ul li a, .toggle-topbar {
            line-height:55px !important;
        }
    }
    
    .top-bar h1, .toggle-topbar.menu-icon a {
        line-height:55px !important;
    }
    
    .top-bar h1 {
        font-size: 47px !important;
    }
    
    .top-bar-section a:hover {
        background-color:#11568F !important;
    }
    
    /******end top-bar******/

    