
  body {
      margin: 0px;
      padding: 0px;
  }

  html,body, #map {
	height: 100%;
	width: 100%;
	}

  /* Desaturate map tiles by 50% */
  .leaflet-tile {
	filter: saturate(0.1);
	}
  .header {
      font-size : 1.8em;
      font-family : arial,helvetica;
      font-weight : bold;
      color : green;
  }
/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
    margin: 0px 0px 0px 55px;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 2px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#111;
            font-size:16px;
            font-weight:600;
            color:white;
            transition:all linear 0.15s;
	    width: 170px;
	    text-align: center;
        }
 
        .tab-links a:hover {
            background:#4CAF50;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#4CAF50;
        color:#fff;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }

.tab-content {

}
	.tab {
		display:none:
	}
	
	.tab.active {
		display: block;
	}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.info h2 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.wrapper {
text-align:center;
}

.printBtn {
position: absolute;
top: 50%;

.saveBtn {
position: absolute;
top: 50%;
}

#a.active #b.active #c.active (
background:#4CAF50;
color:#fff;
}
